:root {
    --basic_white: #FFFFFF;
    --basic_black: #000000;

    /*Header colors*/
    --footer_blue: #293449;
    --logo_button_red: #EE3643;
    --nav_title_blue: #32425C;
    --icon_color: #C5C5C5;
    --color_button_order: #63A63E;
    --color_border_logo: #B52933;
    --logo_border_active: #8D1E26;
    --header_background_color: #F3F7F8;

    /*Main colors*/

    /*Section popular products colors*/
    --color_paint: #FFBF47;
    --color_drill: #3BBCE3;
    --color_tractor: #DC91D8;
    --color_cart: #8ED78F;
    --color_truck: #FFC047;
    --logo_button_red: #EE3643;
    --slider_bg_1: #987654;
    --slider_bg_2: #241910;

    /*Section popular goods colors*/
    --color_panel_header: #F9F5F0;
    --logo_button_red: #EE3643;
    --old_price_slip: #A9A9A9;
    --nav_title_blue: #32425C;
    --color-border: #EAEAEA;

    /*Section popular manufacturers colors*/
    --color_panel_header: #F9F5F0;
    --color_nav_title_button_blue: #32425C;
    --logo_button_red: #EE3643;
    
    /*Section service colors*/
    --nav_title_button_p_blue: #32425C;
    --color_button_credit: #FF5357;


    /*Footer colors*/
    --nav_title_button_p_blue: #32425C;
    --color_footer_p: #F3F7F9;
    --color_footer_nav_up: #F1F5F7;
    --color_footer_nav_down_1: #FFD180;
    --color_footer_nav_down_2: #FFDA96;
    --color_footer_down_panel: #293449;
    --color_social_area: #212A3A;

    /*Other*/
    --icon_white_blue: #C1C6CE;
    --color_panel_catalog: #F2F6F8;
    --color_form_pannel: #F7F3EC;
    --color_border_form_button: #E5E5E5;
    --color_section_panel: #F1F5F7;
    --color_rgba_alfa: rgba(255, 255, 255, 0.3);
    --color_rgba_grey: rgba(197, 197, 197, 0.3);
    --color_rgba_black: rgba(169, 169, 169, 0.3);
    --color_rgba_black_border: rgba(0, 0, 0, 0.15);

    /*Color states*/
    --color_error: #BA2732;
    --color_bookmarks: #161D29;
    --color_basic_grey: #3D546F;
    --color_nav_blue: #293449;
    --color_nav_black_blue: #1D2739;
    --color_clic_yellow: #A9A9A9;
    --color_button_states_red: #CA2C37;
    --color_states_slip_green: #5FBB2D;
    --color_states_clip_green_click: #518534;
    --color_border_botton: #367315;
    --color_form_states: #B5B5B5;

    /*Text parameters*/
    --font-family: "Cuprum", "PT Sans", "Tahoma", sans-serif;
    --font-family-PT: "PT Sans", "Tahoma", sans-serif;
    --body-text-size: 18px;
    --body-line-height: 24px;
    --body-font-weight: normal;
    --body-font-style: normal;
    --body-align-items: left;

    /*STATES*/

    --states-color-green: #5FBB2D;
    --states-color-dark-blue: #161D29;


}

/*Fonts*/

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("Сuprum regular"),
         local("Cuprum-regular"),
         url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("Сuprum bold"),
         local("Cuprum-bold"),
         url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: local("Сuprum italic"),
         local("Cuprum-italic"),
         url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: local("Сuprum bold italic"),
         local("Cuprum-Bold-italic"),
         url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("PT Sans"),
         local("PTSans-Regular"),
         url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("PT Sans Bold"),
         local("PTSans-Bold"),
         url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
}

/*  |BASE|    Basic page settings  */
/*  |HEADER|    Settings header   */
/*  |HEADER|    Settings header up   */
/*  |HEADER|    Settings header info and user account   */
/*  |HEADER|    Settings header navigation panel   */
/*  |MAIN|      Settings main   */
/*  |MAIN|__SECTION-1    Settings sections of the section with popular section store   */
/*  |MAIN|__SECTION-2    */
/*  |MAIN|__SECTION-3    */
/*  |MAIN|__SECTION-4    */
/*  |MAIN|__SECTION-5    */
/*  |FOOTER|    Settings footer   */
/*  |FOOTER|__SECTION-1   */
/*  |FOOTER|__SECTION-2   */










/*  |BASE|    Basic page settings  */

.page {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: start;
    font-family: "Cuprum", "PT Sans", "Tahoma", sans-serif;
    font-size: var(--body-text-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    align-items: var(--body-align-items);
}

.visually-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
  }

.header-menu-list,
.manufacturers-list,
.services-list,
.info-company-list,
.footer-up-list,
.footer-down-list,
.footer-social-list,
.catalog-pages-list,
.breadcrumbs-list {
    list-style-type: none;
}

/*  |STATES|    */

.header-logo:active,
.footer-logo:active {
    background-color: var(--color_error);
    border-bottom: 5px solid var(--logo_border_active);
}

.header-bookmarks:active,
.header-basket:active,
.header-basket-catalog:active {
    background-color: var(--states-color-dark-blue);
    color: var(--color_rgba_alfa);
}

.header-order:hover {
    background-color: var(--states-color-green);
}

.header-order:active {
    color: var(--color_rgba_alfa);
}

.header-user-enter:hover,
.header-user-registration:hover,
.header-users-login-orders:hover,
.header-users-login-account:hover {
    color: var(--logo_button_red);
}

.header-user-enter:active,
.header-user-registration:active,
.header-users-login-orders:active,
.header-users-login-account:active,
.header-users-login-user:active {
    color: var(--icon_color);
}

.header-menu-item:hover {
    background-color: var(--color_footer_down_panel);
}

.header-menu-item:active {
    background-color: var(--color_nav_black_blue);
    color: var(--color_rgba_alfa);
}

.card-link:hover {
    color: var(--basic_white);
    background-color: var(--color_rgba_grey);
}

.card-link:active {
    color: var(--basic_white);
    background-color: var(--color_rgba_black);
}


.button-products:hover,
.button-manufacturers:hover,
.services-button-credit:hover,
.info-button:hover,
.button-help:hover,
.button-main:hover {
    background-color: var(--color_button_states_red);
}

.button-products:active,
.button-manufacturers:active,
.services-button-credit:active,
.info-button:active,
.button-help:active,
.button-main:active {
    background-color: var(--color_error);
}

.container-card:hover {
    box-shadow: 0px 4px 20px var(--color_rgba_black_border);
}

.container-card-link:hover {
    background-color: var(--states-color-green);
}

.container-card-link:active {
    background-color: var(--color_states_clip_green_click);
}

.container-card-button:hover {
    border: 3px solid var(--nav_title_button_p_blue);
}

.container-card-button:active {
    opacity: 0.5;
}

.manufacturers-item:hover {
    box-shadow: 0px 4px 4px var(--color_rgba_black_border);
}

.manufacturers-item:active {
    box-shadow: 0px 4px 20px var(--color_rgba_black_border);
    opacity: 0.5;
}

.catalog-cards-filter-price:hover,
.catalog-cards-filter-type:hover,
.catalog-cards-filter-functions:hover {
    color: var(--basic_black);
}

.catalog-cards-filter-price:active,
.catalog-cards-filter-type:active,
.catalog-cards-filter-functions:active {
    color: var(--logo_button_red);
    border-bottom: none;
}

.footer-up-item a:hover {
    border-bottom: 1px solid var(--color_footer_nav_up);
}

.footer-up-item a:active {
    border-bottom: none;
    opacity: 0.5;
}

.footer-down-item a:hover {
    border-bottom: 1px solid var(--color_footer_nav_down_1);
}

.footer-down-item:nth-child(2) a:hover {
    border-bottom: 1px solid var(--color_footer_nav_down_2);
}

.footer-down-item a:active {
    border-bottom: none;
    opacity: 0.5;
}

.footer-down-item:nth-child(2) a:active {
    border-bottom: none;
    opacity: 0.5;
}

.footer-contacts-connection-link:hover,
.footer-development-connection-link:hover {
    text-decoration: underline;
}

.footer-contacts-connection-link:active,
.footer-development-connection-link:active {
    color: var(--logo_button_red);
    text-decoration: none;
}

/*  |HEADER|    Settings header   */
/*  |HEADER|    Settings header up   */

.header {
    background-color: var(--header_background_color);
}

.header-search {
    line-height: 0;
    margin-bottom: -5px;
}

.container-header-user-navigation {
    background-color: var(--footer_blue);
}

.header-user-navigation {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.header-logo {
    background-color: var(--logo_button_red);
    border-bottom: 5px solid var(--color_border_logo);
    line-height: 0px;
    padding: 12px 56px 12px 56px;
}

.header-bookmarks {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--basic_white);
    padding: 10px 24px 0px 43px;
    
    position: relative;
}

.header-bookmarks::before {
    content: "";
    width: 14px;
    height: 16px;
    background-image: url(../img/mark/icon-bookmark.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 20px;
}

.header-bookmarks:hover::before {
    content: "";
    width: 14px;
    height: 16px;
    background-image: url(../img/mark/icon-bookmark.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 20px;
    opacity: 1;
}

.header-bookmarks:active::before {
    content: "";
    width: 14px;
    height: 16px;
    background-image: url(../img/mark/icon-bookmark.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 20px;
    opacity: 0.5;
}

.header-basket {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--basic_white);
    padding: 10px 26px 0px 48px;
    position: relative;
}

.header-basket::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/mark/icon-cart.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 26px;
}

.header-basket-catalog {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--basic_white);
    padding: 10px 21px 0px 48px;
    position: relative;
}

.header-basket-catalog::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/mark/icon-cart.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 26px;
}

.header-order {
    font-family: var(--font-family);
    background-color: var(--color_button_order);
    text-decoration: none;
    color: var(--basic_white);
    padding: 10px 17px 0px 19px;
    margin-left: 1px;
}

/*  |HEADER|    Settings header info and user account   */

.header-info {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 27px;
}

.header-description {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color: var(--logo_button_red);
    margin-top: 43px;
    margin-right: 69px;
    margin-left: 30px;
    width: 221px;
    
}

.header-contacts {
    text-align: center;
    margin-top: 53px;  
}

.header-contats-link {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: var(--logo_button_red);
    border: 3px solid var(--basic_white);
    padding: 7px 43px 8px 71px;
    position: relative;
}

.header-contats-link::before {
    content: "";
    width: 19px;
    height: 19px;
    background-image: url(../img/mark/icon-phone.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 35px;
}

.header-address {
    font-family: var(--font-family);
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--nav_title_blue);
    margin-top: 11px;
}

.header-user {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 69px;
}

.header-user-enter {
    font-family: var(--font-family);
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--basic_black);
    background-color: var(--basic_white);
    padding: 12px 28px 12px 45px;
    margin-top: 46px;
    margin-right: 10px;
    position: relative;
}

.header-user-enter::before {
    content: "";
    width: 20px;
    height: 17px;
    background-image: url(../img/mark/icon-login-in.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    left: 19px;
}

.header-user-registration {
    font-family: var(--font-family);
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: var(--basic_black);
    background-color: var(--basic_white);
    padding: 12px 23px 12px 24px;
    margin-top: 46px;
}

.header-users-login-user {
    font-family: var(--font-family);
    font-size: 21px;
    line-height: 21px;
    color: var(--basic_black);
    text-decoration: none;
    background-color: var(--basic_white);
    position: relative;
}

.header-users-login-user::before {
    content: "";
    width: 20px;
    height: 18px;
    background-image: url(../img/mark/icon-user.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 15px;
}

.header-users-login-user::after {
    content: "";
    width: 20px;
    height: 17px;
    background-image: url(../img/mark/icon-login-out.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    right: 16px;
}

.header-users-login-orders,
.header-users-login-account {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 18px;
    color: var(--nav_title_blue);
    text-decoration: none;
}

/*  |HEADER|    Settings header navigation panel   */

.header-menu {
    width: 940px;
    margin: 0 auto;
    background-color: var(--nav_title_blue);
    border-bottom: 5px solid var(--color_footer_down_panel);
    margin-bottom: 60px;
}

.header-menu-item {
    font-family: var(--font-family);
    color: var(--basic_white);
    text-decoration: none;
}

.header-menu-list {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-left: 0px;
    margin-bottom: 14px;
}

.header-menu-item {
    padding: 18px 24px 20px 27px;
}

.header-menu-list li:first-child {
    margin-left: 26px;
}

.header-menu-list li:last-child {
    margin-right: 30px;
}

/*  |MAIN|      Settings main   */
/*  |MAIN|__SECTION-1    Settings sections of the section with popular section store   */

.popular-sections {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
    margin: 0 auto;
    width: 940px;
    margin-top: 59px;
}

.card-materials {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--color_paint);
    position: relative;
}

.card-materials::before {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(../img/mark/paint.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 31px;
    right: 17px;
}

.card-materials::after {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(../img/mark/catalog-new.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.card-tools {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--color_drill);
    position: relative;
}

.card-tools::before {
    content: "";
    width: 75px;
    height: 61px;
    background-image: url(../img/mark/drill.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 34px;
    right: 31px;
}

.card-technic {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--color_tractor);
    position: relative;
}

.card-technic::after {
    content: "";
    width: 78px;
    height: 62px;
    background-image: url(../img/mark/tractor.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 31px;
    right: 31px;
}

.card-slider {
    background-image: url("../img/background/perforator_men.jpg");
    background-color: var(--slider_bg_1);
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

/*.card-slider {
    background-image: url("../img/background/drill_men.jpg");
    background-color: var(--slider_bg_2);
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}*/

.card-slider-slide1 {
    background-color: var(--color_rgba_black_border);
}

.card-sale {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--color_cart);
    position: relative;
}

.card-sale::before {
    content: "";
    width: 59px;
    height: 72px;
    background-image: url(../img/mark/icon-4.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 26px;
    right: 45px;
}

.card-delivery {
    background-color: var(--color_truck);
    position: relative;
}

.card-delivery::before {
    content: "";
    width: 78px;
    height: 63px;
    background-image: url(../img/mark/truck.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 32px;
    right: 31px;
}

.card-h3-materials {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic_white);
    margin: 0;
    margin-top: 21px;
    margin-left: 23px;
    margin-bottom: 19px;
}

.card-h3-tools {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic_white);
    margin: 0;
    margin-top: 21px;
    margin-left: 22px;
    margin-bottom: 18px;
}

.card-h3-technic {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic_white);
    margin: 0;
    margin-top: 21px;
    margin-left: 22px;
    margin-bottom: 18px;
}

.card-h3-sale {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic_white);
    margin: 0;
    margin-top: 21px;
    margin-left: 23px;
    margin-bottom: 18px;
}

.card-h3-delivery {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic_white);
    margin: 0;
    margin-top: 21px;
    margin-left: 22px;
    margin-bottom: 19px;
}

.card-link-materials {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--color_rgba_alfa);
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 25px 11px 23px;
    margin-left: 23px;
}

.card-link-materials:hover {
    background-color: var(--color_rgba_grey);
}

.card-link-materials:active {
    background-color: var(--color_rgba_black);
}

.card-link-tools {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--color_rgba_alfa);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 26px 12px 26px;
    margin-left: 22px;
}

.card-link-tools:hover {
    background-color: var(--color_rgba_grey);
}

.card-link-tools:active {
    background-color: var(--color_rgba_black);
}

.card-link-technic {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--color_rgba_alfa);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 32px 12px 29px;
    margin-left: 22px;
}

.card-link-technic:hover {
    background-color: var(--color_rgba_grey);
}

.card-link-technic:active {
    background-color: var(--color_rgba_black);
}

.card-link-sale {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--color_rgba_alfa);
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 24px 10px 22px;
    margin-left: 23px;
}

.card-link-sale:hover {
    background-color: var(--color_rgba_grey);
}

.card-link-sale:active {
    background-color: var(--color_rgba_black);
}

.card-link-delivery {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--color_rgba_alfa);
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 38px 10px 36px;
    margin-left: 22px;
}

.card-link-delivery:hover {
    background-color: var(--color_rgba_grey);
}

.card-link-deliveryv:active {
    background-color: var(--color_rgba_black);
}

.slider-h3 {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic_white);
    text-transform: uppercase;
    margin: 0;
    padding-top: 23px;
    padding-left: 24px;
    padding-bottom: 6px;
}

.slider-p {
    font-family: var(--font-family);
    color: var(--basic_white);
    margin: 0;
    padding-left: 24px;
    padding-bottom: 16px;
}

.button-main {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--basic_white);
    text-transform: uppercase;
    background-color: var(--logo_button_red);
}

/*  |MAIN|__SECTION-2    */

.popular-products {
    margin: 0 auto;
    width: 940px;
    margin-top: 59px;
}

.popular-products-title {
    display: flex;
    justify-content: flex-start;
}

.main-title-products {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--nav_title_blue);
    text-transform: uppercase;
    margin-top: 30px;
    margin-right: 443px;
    margin-bottom: 29px;
    margin-left: 28px;
}

.main-title-manufacturers {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--nav_title_blue);
    text-transform: uppercase;
    margin-top: 30px;
    margin-right: 335px;
    margin-bottom: 30px;
    margin-left: 28px;
}

.button-products {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    background-color: var(--logo_button_red);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic_white);
    padding: 11px 24px 9px 24px;
    margin-top: 25px;
    margin-bottom: 27px;
}

.button-manufacturers {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    background-color: var(--logo_button_red);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic_white);
    padding: 11px 38px 4px 39px;
    margin-top: 25px;
    margin-bottom: 27px;
}

.popular-products-title {
    background-color: var(--color_panel_header);
}

.container-index-card {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

.manufacturers-link img {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.manufacturers-item {
    border: 1px solid var(--color-border);
}

.container-card-link {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--color_button_order);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid var(--color_border_botton);
}

.container-card-button {
    font-family: var(--font-family);
    color: var(--nav_title_button_p_blue);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic_white);
    border: 3px solid var(--color_states_clip_green_click);
}

.container-card-h3 {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic_black);
}

.container-card-old {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--old_price_slip);
    text-decoration: line-through;
}

.container-card-new {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic_white);
    background-image: url("../img/background/bg-new-price.svg");
    background-repeat: no-repeat;
}

/*  |MAIN|__SECTION-3    */

.popular-manufacturers {
    width: 940px;
    margin: 0 auto;
    margin-top: 51px;
}

.manufacturers-list {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px;
    gap: 20px;
    padding-left: 0;
}


/*  |MAIN|__SECTION-4    */

.services {
    margin: 0 auto;
    width: 940px;
    margin-top: 128px;
}

.servicse-h2 {
    font-family: var(--font-family);
    font-size: 29px;
    line-height: 30px;
    color: var(--basic_black);
    text-transform: uppercase;
    padding-top: 2px;
    padding-left: 25px;
    padding-bottom: 11px;
    margin: 0;
}

.services-description {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: var(--basic_black);
    width: 410px;
    padding-left: 26px;
    margin-bottom: 68px;
}

.services-container {
    display: flex;
    flex-wrap: nowrap;
}

.services-list {
    padding-left: 0;
    margin-top: 2px;
    margin-left: 26px;
    margin-right: 80px;
    margin-bottom: 145px;
    position: relative;
}

.services-list::before {
    content: "";
    width: 10px;
    height: 279px;
    background-image: url(../img/mark/shadow.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    right: 0;
}

.services-item-button {
    border: none;
    background-color: var(--nav_title_blue);
    color: var(--basic_white);
    font-size: 22px;
    padding: 15px 140px 19px 22px;
    border-top: 2px solid var(--color_basic_grey);
    border-bottom: 2px solid var(--footer_blue);
}

.services-item:nth-child(2) .services-item-button {
    padding: 14px 141px 19px 22px;
}

.services-item:last-child .services-item-button {
    padding: 14px 158px 18px 22px;
}

.services-item-button:hover {
    background-color: var(--footer_blue);
}

.services-item-button:active {
    border-top: 2px solid var(--basic_white);
    border-bottom: 2px solid var(--basic_white);
    background-color: var(--basic_white);
    color: var(--color_nav_title_button_blue);
}

.button-active {
    background-color: var(--basic_white);
    color: var(--color_nav_title_button_blue);
    border: none;
    padding: 17px 140px 21px 22px;
}

.button-active:hover {
    background-color: var(--footer_blue);
    color: var(--basic_white);
    border-top: 2px solid var(--color_basic_grey);
    border-bottom: 2px solid var(--footer_blue);
    padding: 15px 140px 19px 22px;
}

.services-delivery-h3,
.services-guarantee-h3,
.services-credit-h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: var(--nav_title_blue);
    text-transform: uppercase;
    margin: 0;
}

.services-delivery-h3 {
    margin-bottom: 28px;
}

.services-delivery-desc {
    width: 277px;
}

.services-delivery-desc,
.services-guarantee-desc,
.services-credit-desc {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 25px;
    font-style: normal;
}

.services-delivery {
    position: relative;
}

.services-delivery::before {
    content: "";
    width: 469px;
    height: 261px;
    background-image: url(../img/mark/truck-big.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 21px;
    left: 151px;
}

.services-button-credit {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--logo_button_red);
    text-decoration: none;
    text-transform: uppercase;
}

/*  |MAIN|__SECTION-5    */

.info-company-contacts {
    margin: 0 auto;
    width: 940px;
    display: flex;
    margin-bottom: 77px;
}

.info-company {
    margin-right: 179px;
}

.info-company-h3 {
    margin-bottom: 22px;
}

.info-company-h3,
.contacts-company-h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic_black);
    text-transform: uppercase;
}

.contacts-company-h3 {
    margin-bottom: 22px;
}

.info-company-text1 {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    width: 460px;
    margin-bottom: 26px;
}

.info-company-text2 {
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    width: 420px;
    margin-bottom: 1px;
}

.info-company-text1,
.info-company-text2 {
    font-family: "PT Sans", "Tahoma", sans-serif;
    color: var(--basic_black);
}

.info-company-list {
    margin: 0;
    padding: 0;
    padding-left: 37px;
    margin-bottom: 14px;
}

.info-company-list-item {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 24px;
    color: var(--basic_black);
    padding-bottom: 12px;
    position: relative;
}

.info-company-list-item::before {
    content: "";
    width: 25px;
    height: 2px;
    background-image: url(../img/mark/splash.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: -37px;
}

.info-company-list-item:nth-child(2):before {
    content: "";
    width: 25px;
    height: 2px;
    background-image: url(../img/mark/splash.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    left: -37px;
}

.info-company-list-item:last-child:before {
    content: "";
    width: 25px;
    height: 2px;
    background-image: url(../img/mark/splash.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    left: -37px;
}

.info-button {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--logo_button_red);
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 40px 10px 40px;
}

.contacts-company-text {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: var(--basic_black);
    width: 200px;
    margin-bottom: 32px;
}

.company-map {
    margin-bottom: 24px;
}

.button-help {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);
    background-color: var(--logo_button_red);
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 61px 10px 62px;
    margin-left: 1px;
}

/*  |FOOTER|    Settings footer   */
/*  |FOOTER|__SECTION-1   */

.container-footer-up-nav {
    background-color: var(--nav_title_blue);
}

.footer-up-nav {
    margin: 0 auto;
    width: 940px;
    display: flex;
    justify-content: flex-start;
}

.footer-logo {
    background-color: var(--logo_button_red);
    border-bottom: 5px solid var(--color_border_logo);
    padding: 20px 41px 20px 41px;
    margin-bottom: 17px;
}

.footer-address {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 24px;
    color: var(--color_footer_p);
    font-style: normal;
    width: 321px;
    margin-left: 3px;
    margin-right: 70px;
    margin-bottom: 54px;
}

.footer-up-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 38px;
    margin-bottom: 34px;
}

.footer-up-item a {
    margin-right: 58px;
}

.footer-up-item:nth-child(2) a {
    margin-right: 59px;
}

.footer-up-item a {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--color_footer_nav_up);
}

.footer-down-list {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 22px;
}

.footer-down-item a {
    margin-right: 58px;
}

.footer-down-item:nth-child(2) a {
    margin-right: 61px;
}

.footer-down-item a {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--color_footer_nav_down_1);
}

.footer-down-item:nth-child(2) a {
    color: var(--color_footer_nav_down_2);
}

/*  |FOOTER|__SECTION-2   */

.container-footer-copyright {
    background-color: var(--color_footer_down_panel);
}

.footer-copyright {
    margin: 0 auto;
    width: 940px;
    display: flex;
    justify-content: flex-start;
}

.footer-copyright-text {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic_white);
    margin-top: 35px;
    margin-right: 155px;
    margin-bottom: 38px;
    width: 235px;
}

.footer-contacts {
    margin-right: 1px;
}

.footer-contacts-connection,
.footer-development-connection {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 16px;
    color: var(--basic_white);
    margin-top: 35px;
    margin-bottom: 0;
}

.footer-contacts-connection-link,
.footer-development-connection-link {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 18px;
    color: var(--color_footer_nav_down_1);
    text-decoration: none;
    margin-bottom: 33px;
}

.footer-contacts-connection-link {
    margin-right: 51px;
}

.footer-social-list {
    display: flex;
    margin-top: 35px;
    margin-right: 120px;
    padding: 0;
}

.footer-social-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_social_area);
    margin-right: 6px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer-social-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_social_area);
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer-social-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_social_area);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer-social-item1 svg,
.footer-social-item2 svg {
    padding-top: 5px;
    padding-left: 0px;
}

.footer-social-item3 svg {
    padding-top: 5px;
    padding-left: 0px;
}

.footer-social-item1:hover,
.footer-social-item2:hover,
.footer-social-item3:hover {
    background-color: var(--logo_button_red);
}

.footer-social-item1:active,
.footer-social-item2:active,
.footer-social-item3:active {
    background-color: var(--logo_button_red);
}

/*   |MAIN CATALOG|   */

.catalog-info-perforators {
    background-color: var(--color_footer_nav_up);
}

.catalog-info-perforators-h2 {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic_black);
    text-transform: uppercase;
}

.catalog-info-perforators-text {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: var(--basic_black);
}

.breadcrumbs-item1 a,
.breadcrumbs-item2 a,
.breadcrumbs-item3 a {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic_black);
    text-decoration: none;
    margin-right: 41px;
}

.breadcrumbs-item {
    margin-top: 1px;
    margin-left: 0;
    padding-right: 40px;
    position: relative;
    cursor: default;
}

.breadcrumbs-item1 {
    position: relative;
}

.breadcrumbs-item::before {
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/mark/icon-right-small.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 30px;
}

.breadcrumbs-item1::before {
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/mark/icon-right-small.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    right: 15px;
}

.breadcrumbs-item2 {
    position: relative;
}

.breadcrumbs-item2::before {
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/mark/icon-right-small.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    right: 16px;
}

.breadcrumbs-item2 a {
    margin-right: 42px;
}

.catalog-h2 {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--nav_title_blue);
    text-transform: uppercase;
    background-color: var(--color_panel_catalog);
}

.catalog-form-h3,
.catalog-cards-filter-h3 {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic_black);
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}

.catalog-cards-filter-price,
.catalog-cards-filter-type,
.catalog-cards-filter-functions {
    font-family: "PT Sans", "Tahoma", sans-serif;
    color: var(--icon_color);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dotted red;
}

.catalog-form-h3 {
    background-color: var(--color_form_pannel);
}

.catalog-cards-filter {
    background-color: var(--color_form_pannel);
    width: 700px;
}

.catalog-slider-legend,
.catalog-form-checkbox-legend,
.catalog-form-radio-legend {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: var(--basic_black);
    text-transform: uppercase;
}

.catalog-slider-fieldset,
.catalog-form-checkbox-fieldset,
.catalog-form-radio-fieldset {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

.catalog-form-button {
    font-family: "PT Sans", "Tahoma", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid var(--color_border_form_button);
    background-color: var(--basic_white);
}

.header-users-login {
    margin-top: 58px;
    margin-left: 51px;
    position: relative;
}

.header-users-login::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--color_nav_title_button_blue);
    border-radius: 50%;
    position: absolute;
    top: 47px;
    left: 133px;
}

.header-users-login-user {
    padding: 10px 57px 11px 56px;
}

.container-users-menu {
    margin-top: 13px;
}

.header-users-login-orders {
    margin-top: 7px;
    margin-left: 44px
}

.header-users-login-account {
    margin-top: 7px;
    margin-left: 27px;
}

.container-main-catalog {
    margin: 0 auto;
    width: 940px;
    margin-bottom: 41px;
}

.container-catalog-form {
    margin-right: 21px;
}

.catalog-form-h3 {
    padding: 10px 181px 8px 18px;
    margin-bottom: 14px;
    margin: 0;
}

.catalog-form-button {
    padding: 10px 80px 10px 79px;
}

.catalog-form-slider {
    border-bottom: 1px solid var(--icon_color);
    margin-top: 15px;
    margin-bottom: 163px;
}

.catalog-cards-filter-h3 {
    padding: 10px 140px 6px 19px;
    margin: 0;
}

.catalog-cards-filter-price {
    margin-top: 9px;
    margin-right: 70px;
    margin-bottom: 8px;
}

.catalog-cards-filter-type {
    margin-top: 9px;
    margin-right: 67px;
    margin-bottom: 8px;
}

.catalog-cards-filter-functions {
    margin-top: 9px;
    margin-right: 45px;
    margin-bottom: 8px;
}

.catalog-cards-filter-prices-up {
    margin-top: 6px;
    margin-right: 21px;
    margin-bottom: 1px;
    fill: var(--icon_color);
}

.catalog-cards-filter-prices-up:hover {
    fill: var(--basic_black);
}

.catalog-cards-filter-prices-up:active {
    fill: var(--logo_button_red);
}

.catalog-cards-filter-prices-down {
    margin-top: 6px;
    margin-bottom: 1px;
    fill: var(--icon_color);
}

.catalog-cards-filter-prices-down:hover {
    fill: var(--basic_black);
}

.catalog-cards-filter-prices-down:active {
    fill: var(--logo_button_red);
}

.breadcrumbs-list {
    display: flex;
    padding-left: 0;
    margin: 0;
    margin-top: 18px;
}

.catalog-h2 {
    margin: 0;
    margin-top: 17px;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
}

.container-catalog {
    margin: 0 auto;
    width: 940px;
    display: flex;
    margin-top: 20px;
}

.catalog-form {
    width: 220px;
    display: flex;
    flex-direction: column;
}

.catalog-form-checkbox-fieldset {
    width: 220px;
}

.catalog-form-checkbox-fieldset {
    display: flex;
    flex-direction: column;
}

.catalog-form-radio-fieldset {
    display: flex;
    flex-direction: column;
}

.catalog-form-checkbox {
    margin-top: 16px;
}

.catalog-form-checkbox-legend {
    margin-bottom: 15px;
    padding: 0;
}

.catalog-form-checkbox-input,
.catalog-form-radio-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 35px;
}

.catalog-form-checkbox-label {
    margin-bottom: 15px;
}

.catalog-form-checkbox-label:last-child {
    margin-bottom: 25px;
}

.checkbox {
    position: absolute;
    width: 27px;
    height: 23px;
    background-image: url("../img/mark/checkbox-off.svg");
    background-repeat: no-repeat;
    left: 0;
}

.radiobutton {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/mark/radio-off.svg");
    background-repeat: no-repeat;
    left: 0;
}

.catalog-form-radio-input:checked + .radiobutton {
    background-image: url("../img/mark/radio-on.svg");
}

.catalog-form-checkbox-input:checked + .checkbox {
    background-image: url("../img/mark/checkbox-on.svg");
}

.catalog-form-checkbox-input:active + .checkbox {
   background-image: url(../img/mark/checkbox-off-active.svg);
}

.catalog-form-checkbox-fieldset {
    border-bottom: 1px solid var(--icon_color);
    margin-bottom: 18px;
}

.catalog-form-radio-legend {
    margin-bottom: 23px;
}

.catalog-form-radio-input {
    margin-bottom: 23px;
}

.catalog-cards-filter {
    display: flex;
}

.cotainer-catalog-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 29px;
    margin-bottom: 27px;
    column-gap: 20px;
}

.container-card {
    width: 218px;
    margin-bottom: 18px;
    border: 1px solid var(--color-border);
}

.catalog-pages-list {
    padding: 0;
    display: flex;
}

.container-catalog-info-perforators {
    margin: 0 auto;
    width: 940px;
}

.catalog-info-perforators-h2 {
    padding-top: 65px;
    margin-bottom: 24px;
}

.catalog-info-perforators-text {
    width: 910px;
    padding-bottom: 67px;
    margin: 0;
}

.container-card {
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: 179px 1fr;
    text-align: center;
    position: relative;
}

.new-card::before {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(../img/mark/catalog-new.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.container-card-buttons {
    display: none;
}

.container-card-h3 {
    margin-top: 0;
    margin-right: 33px;
    margin-bottom: 8px;
    margin-left: 30px;
}

.container-card-old {
    margin: 0;
    margin-bottom: 13px;
}

.container-card-new {
    padding-top: 10px;
    padding-right: 44px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-top: 0;
    margin-right: 34px;
    margin-bottom: 21px;
    margin-left: 45px;
}

.container-card-img {
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.container-card-buttons {
    display: none;
}

.container-card:hover .container-card-img {
    display: none;
}

.container-card:hover .container-card-buttons {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
}

.container-card-link {
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 25px;
    margin-top: 38px;
    margin-right: 44px;
    margin-bottom: 10px;
    margin-left: 41px;
}

.container-card-button {
    padding-top: 11px;
    padding-right: 31px;
    padding-bottom: 9px;
    padding-left: 30px;
    margin-right: 44px;
    margin-bottom: 10px;
    margin-left: 41px;
}

.catalog-pages-item {
    font-family: var(--font-family-PT);
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid var(--icon_color);
    border-radius: 2px;
    padding: 9px 15px 9px 14px;
    margin: 0;
    margin-right: 11px;
    text-transform: uppercase;
}

.catalog-pages-item:nth-child(2) {
    margin-right: 10px;
}

.catalog-pages-item:nth-child(3) {
    margin-right: 10px;
}

.catalog-pages-item:last-child {
    padding: 9px 30px 9px 32px;
}

.catalog-pages-item a {
    color: var(--basic_black);
}

.catalog-pages-item:first-child {
    background-color: var(--logo_button_red);
    border: none;
}

.catalog-pages-item:first-child a {
    color: var(--basic_white);
}

.header-search-form {
    margin: 0;
    padding: 0;
    line-height: normal;
    position: relative;
}

.search-form-input {
    width: 270px;
    outline: none;
    border: none;
    padding-top: 12px;
    padding-left: 42px;
    padding-bottom: 10px;
    background-color: var(--color_footer_down_panel);
}

.search-form-input:hover::placeholder {
    color: var(--basic_white);
}

.search-form-input-svg {
    position: absolute;
    top: 12px;
    left: 17px;
    fill: var(--basic_white);
    opacity: 0.3;
}

.search-form-input:hover + .search-form-input-svg {
    fill: var(--basic_white);
    opacity: 1;
}

.search-form-input:active {
    background-color: var(--basic_white);
}

.search-form-input:active::placeholder {
    background-color: var(--basic_white);
    color: var(--basic_black);
}

.search-form-input:focus {
    background-color: var(--basic_white);
}

.search-form-input:focus::placeholder {
    background-color: var(--basic_white);
    color: var(--basic_black);
}

.search-form-input:hover + .search-form-input-svg {
    fill: var(--basic_white);
    opacity: 1;
}

.search-form-input:active + .search-form-input-svg {
    fill: var(--logo_button_red);
    opacity: 1;
}

.search-form-input:focus + .search-form-input-svg {
    fill: var(--logo_button_red);
    opacity: 1;
}